[[source]] # Here goes your package sources (where you are downloading your packages from).
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages] # Here goes your package requirements for running the application and its versions (which packages you will use when running the application).
pillow = "*"
watchdog = "*"

[dev-packages] # Here goes your package requirements for developing the application and its versions (which packages you will use when developing the application)
autopep8 = "*"

[requires] # Here goes your required Python version.
python_version = "3.10.2"
